.btn-grid {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". up ."
        "left . right"
        ". down .";
    position: absolute;
    top: 5vw;
    left: 5vw;
    width: 90vw;
    height: 90vh;
}

.btn-frame {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    z-index: 1;
}

.frame {
    overflow: visible;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.frame-grid {
    position: absolute;
    grid-template-areas:
        "A1 A2 A3 B4 A5 A5"
        "B1 B2 B3 B4 B5 B6"
        "C1 C2 C3 C4 C5 C6";
    justify-content: center;
    align-items: center;
    gap: 0px 0px;
    transition: transform 1s ease-in-out;
}